body {
    background-color:#F3F4F6;
    height: auto;
}

.s-sidebar__trigger {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background:#15324f;
}

.s-sidebar__trigger > i {
    display: inline-block;
    margin: 1.5em 0 0 1.5em;
    color:orangered;
}

.s-sidebar__nav {
    position: fixed;
    top: 0;
    left: -15em;
    overflow: hidden;
    transition: all 0.3s ease-in;
    width: 15em;
    height: 100%;
    background:#15324f;
    color: white;
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
    left: 0;
}

.s-sidebar__nav ul {
    position: absolute;
    top: 4em;
    left: 0;
    margin: 0;
    padding: 0;
    width: 15em;
}

.s-sidebar__nav ul li {
    width: 100%;
}

.s-sidebar__nav-link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 4em;
}

.s-sidebar__nav-link em {
    position: absolute;
    top: 50%;
    left: 4em;
    transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
    background: orangered;
    color:white;
}

.s-sidebar__nav-link > i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 4em;
    height: 4em;
}

.s-sidebar__nav-link > i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
ul.pagination{
    background-color: transparent;
}
/* Mobile First */
@media (min-width: 42em) {
    .s-layout__content {
        margin-left: 4em;
    }

    /* Sidebar */
    .s-sidebar__trigger {
        width: 4em;
    }

    .s-sidebar__nav {
        width: 4em;
        left: 0;
    }

    .s-sidebar__nav:hover,
    .s-sidebar__nav:focus,
    .s-sidebar__trigger:hover + .s-sidebar__nav,
    .s-sidebar__trigger:focus + .s-sidebar__nav {
        width: 15em;
    }
}


@media (min-width: 68em) {
    .s-layout__content {
        margin-left: 15em;
    }

    /* Sidebar */
    .s-sidebar__trigger {
        display: none;
    }

    .s-sidebar__nav {
        width: 15em;
    }

    .s-sidebar__nav ul {
        top: 1.3em;
    }
}

.sBarBtn {
    text-align: left;
    color: white;
}
.sBarBtn:active {
    background-color: #ff4500;
}
.sBarBtn:hover {
    transform: translateY(-3px);
    background-color: #ff4500;
}

.pk-float {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    height:300px;
}
.pk-float:hover,
.pk-float:focus,
.pk-float:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1);
    transform: scale(1.01);
}


#h-line {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display: block;
    border-top: 1.5px solid #ccc;
    margin: 1em 4;
}

#tableRaised {
 
    box-shadow: 0 4px 8px 0 rgba(1, 0.5, 0, 0.2);
    transition: 0.3s;
}

/* table fields */
.table .bg-primary th {
    color: rgb(236, 236, 236);
    background-color: red;
    border-color: #ced2d6;
}

/* removing underline on hover */
a:hover{
    color:orangered;
}
a:active,
a:visited,
a:link {
    text-decoration: none;
}

/* table */
table,
th,
dashboard td {
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    /* text-align: left; */
    text-align: center;
    width: 600px;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}

table#t01 tr:nth-child(odd) {
    background-color: #fff;
}

table#t01 th {
    background-color: #15324f;
    color: white;
}

/* centering table */
.table {
    padding-right:15px;
    width: 85% !important;
    /* height: 50%; */
}

/* table vertical scroll bar controller */
thead,
tbody {
    display: block;
}

tbody {
    height: 400px;
    /* Just for the demo          */
    overflow-y: auto;
    /* Trigger vertical scroll    */
    overflow-x: auto;
    /* Hide the horizontal scroll */
}

table thead tr {
    display: block;
}

