body {
    font-family: "Helvetica", sans-serif;
    background-color: #f8f8f8;
    color: #e5ebf3;
}

* {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    font-family: "Helvetica";
}

.slider {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size:20px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current {
    opacity: 1;
}

.slide .content {
    position: absolute;
    bottom: -300px;
    right: 0;
    width: 100%;
    opacity: 0;
    background-color: rgba(229, 235, 243, 0.8);
    color: black;
    padding: 1rem;
    line-height: 1.3;
}

.slide .content h1 {
    margin-bottom: 0.625rem;
    color: #1e90ff;
    font-size: 1.5rem;
}

.slide.current .content {
    opacity: 1;
    transform: translateY(-300px);
    transition: all 0.7s ease-in-out;
}

.slide:first-child {
    background: url("/images/slider-01.jpg") no-repeat center top/cover;
}

.slide:nth-child(2) {
    background: url("/images/slider-02.jpg") no-repeat center top/cover;
}

.slide:nth-child(3) {
    background: url("/images/slider-03.jpg") no-repeat center top/cover;
}

.buttons button#prev {
    margin-left: 20px;
    position: absolute;
    top: 50%;
    left: 1rem;
    color: orangered;
}

.buttons button#next {
    position: absolute;
    top: 50%;
    right: 1rem;
    color: orangered;
}

.buttons button {
    border: 2px solid #e5ebf3;
    background-color: transparent;
    color: #e5ebf3;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}

.buttons button:hover {
    background-color: #e5ebf3;
    color: #362a2b;
}

@media (min-width: 640px) and (min-height: 640px) {
    .slide .content {
        bottom: 70px;
        left: -600px;
        width: 600px;
        padding: 2rem;
        line-height: 1.6;
    }

    .slide .content h1 {
        font-size: 2rem;
    }

    .slide.current .content {
        transform: translateX(600px);
    }
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    color: white;
    font-size:17px;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media (max-width: 768px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}
